    <!-- <p>home works!</p>
<p  [style]="nomStyle">je m'apelle {{profil.nom}}  {{profil.prenom}}</p>
<p [style.color]="siteStyle">Le nom de mon site web est www.{{ profil.website}}.com</p>
<p>Je suis à l'origine de{{profil.region}}</p>
<img [src]="src">
<a [href]="link">Cliquez ICI</a>
<p>{{number}}</p>
<button (click)="inc()">Incrémentation</button>
<button (click)="deinc()">Décrementation</button>
<p [style]="display">LINDA</p>
<button (click)="show()">SHOW</button>
<button (click)="hidden()">HIDDEN</button>
<h1 *ngIf="x===y">HOME</h1>
<div *ngFor="let item of data; index as i">
    <p> {{i}} {{item}} </p>
</div>
<input type="number" [(ngModel)]="number">
<div [ngSwitch]="number" >
    <p *ngSwitchCase="1">un</p>
    <p *ngSwitchCase="2">deux</p>
    <p *ngSwitchCase="3">trois</p>
    <p *ngSwitchCase="4">quatre</p>
</div>
<h2 [ngClass]="lamis">LAMISS</h2>
<p [ngStyle]="{'color':style1}"> {{nomPere| uppercase}} </p>



 -->
 <div>Home Page</div>
 <input type="text" name="age" #age>
 <button (click)="print(age.value)">POUSSER</button>
 <br>
 <br>
 <br>
 <p>{{con}}</p>
 <br>
 <br>
 <br>
 <button (click)="showw()">SHOW</button>
